node_modules
.git
.github
dist
*.md
tests
monitoring
docs
infrastructure
*.log
**/.env*
**/.*env*
backend/node_modules
packages/*/node_modules
apps/*/node_modules
apps/agent/target
apps/agent/target_clippy
infra
